#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: lightslategrey;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
  transition: all 200ms ease 0s;
}

.cardContainer {
  width: 500px;
  max-width: 500px;
  height: 340px;
}

.card {
  transition: transform .6s;
  position: relative;
  background-color: #fff;
  width: 500px;
  max-width: 500px;
  height: 340px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
  background-size: cover;
  background-position: center;
  animation: rotateBack 0.6s;
}

.rot-back {
  animation: rotateBack 0.6s;
  transform: rotate(0deg);
}

.rot-left {
  animation: rotateleft 0.6s;
  transform: rotate(2deg);
}

.rot-right {
  animation: rotateRight 0.6s;
  transform: rotate(-2deg);
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

@keyframes rotateBack {
  from { transform: rotate(2deg) }
  to   { transform: rotate(0deg) }
}

@keyframes rotateleft {
  from { transform: rotate(0deg) }
  to   { transform: rotate(2deg) }
}

@keyframes rotateRight {
  from { transform: rotate(0deg) }
  to   { transform: rotate(-2deg) }
}

@media only screen and (max-device-width: 480px) {
  .cardContainer {
    width: 75vw;
    max-width: 75vw;
    height: 200px;
  }

  .card {
    width: 75vw;
    max-width: 75vw;
    height: 200px;
  }
}
